.git* export-ignore
.github/** export-ignore
.tool-versions export-ignore
*.lock export-ignore
*.md export-ignore
*.sbnf export-ignore
*.toml export-ignore
bin export-ignore
bin/** export-ignore
images export-ignore
images/** export-ignore
tests export-ignore
tests/** export-ignore
