.git* export-ignore
.github/** export-ignore
.tool-versions export-ignore
*.lock export-ignore
*.md export-ignore
*.toml export-ignore
bin export-ignore
bin/** export-ignore
examples export-ignore
examples/** export-ignore
images export-ignore
images/** export-ignore
